<div id="project-details">
    <h1>{{project.pname}}</h1>
    <p>Year: {{project.pyear}}</p>
    <p>Type: {{project.ptype}}</p>
    <p>Description: {{project.pdesc}}</p>
    <img src="{{project.pimgURL}}" alt="{{project.pimgURL}}" class="img-responsive">
    <!-- Add more project details here as needed -->
    <a href="/projects" class="btn btn-link">Back to Projects</a>
</div>
