<div id="project-details">
    <h1>{{skill.sname}}</h1>
    <p>Type: {{skill.stype}}</p>
    <p>Description: {{skill.sdesc}}</p>
    <img src="{{project.pimgURL}}" alt="{{project.pimgURL}}" class="img-responsive">
    <!-- Add more project details here as needed -->
    <a href="/projects" class="btn btn-link">Back to Projects</a>
</div>
